<?xml version="1.0" encoding="UTF-8"?>
<!-- Run from: vendor/bin/phpunit -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	bootstrap="tests/bootstrap.php" 
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd">
  <coverage pathCoverage="false">
    <report>
      <html outputDirectory="phpunit-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <!--<directory suffix="Test.php">tests</directory>-->
      <file>tests/unit/ApplicationTest.php</file>
      <file>tests/unit/Exception/ApplicationExceptionTest.php</file>
      <file>tests/unit/ConfigTest.php</file>
      <file>tests/unit/ContainerTest.php</file>
      <file>tests/unit/ObjectCacheTest.php</file>

      <file>tests/unit/Controller/ControllerTest.php</file>

      <!--<file>tests/Errors/ErrorHandlerTest.php</file>-->

      <file>tests/unit/Http/CookieTest.php</file>
      <!--<file>tests/unit/Http/RequestTest.php</file>-->
      <!--<file>tests/Http/ResponseTest.php</file>-->

      <!--<file>tests/unit/Logs/ErrorLogTest.php</file>
      <file>tests/unit/Logs/LogHandlerTest.php</file>
      <file>tests/unit/Logs/WriteStdOutTest.php</file>-->

      <!--<file>tests/unit/Routing/DispatchTest.php</file>-->
      <!--<file>...links...</file>-->
      <file>tests/unit/Routing/RouteTest.php</file>
      <!--<file>tests/unit/Routing/LinksTest.php</file>-->
      <file>tests/unit/Routing/RouterTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
