<?xml version="1.0" encoding="UTF-8"?>
<!-- Run from: vendor/phpunit/phpunit/phpunit -->
<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="PHPCanvas Test Suite">
		  <file>tests/PHPCanvas/Cache/CacheTest.php</file>
		  <file>tests/PHPCanvas/ConfigTest.php</file>
		  <file>tests/PHPCanvas/FinderTest.php</file>
		  <!--<file>tests/PHPCanvas/ContainerTest.php</file>-->
		  <file>tests/PHPCanvas/Routing/RouterTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>